 
 <div class="items-sell-contents">

 <div class="items-sell-main">
    <h2 class="items-sell-title">記事内容入力</h2>
    <%= form_with(model: @article, local: true) do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %> 

    <div class="img-upload">
      <div class="weight-bold-text">
        イメージ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <div class="new-items">
      <div class="weight-bold-text">
        記事タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"記事の題名(必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          記事内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"記事の文章を入力してください" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div class="items-detail">
      <div class="weight-bold-text">記事の詳細</div>
       <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
       </div>
    </div>
      <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    </div>
  <% end %>
  </div>