<%= render "shared/header" %>
  <div class='main'>
  <%# <nav class="navbar navbar-light bg-light text-raigth"> %>
    <div class='search-box'>
      <nav class="navbar">
        <a class="navbar-brand">キーワード検索</a>
         <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="googleカスタム検索" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
      </nav>
    </div>
    <%# <%= link_to '/articles/:id' do %>  
      <ul class='menu-bar'>
        <li class='menu-lists'>
          <%= link_to "科学", '/articles/science', class:'backgraoud-ore', id:'categories1' %>
    <%# <li class='backgraoud-blue' id='categories'> %>
          <%= link_to "ビジネス", '/articles/business', class:'backgraoud-pink', id:'categories' %> 
    <%# <li class='backgraoud-blue' id='categories1'>科学 %>
    <%# <%= link_to "科学", '/articles/science', class:'backgraoud-blue', id:'categories1' %>
    <%# <li class='backgraoud-blue' id='categories2'>テクノロジー %>
          <%= link_to "テクノロジー", '/articles/technology', class:'backgraoud-blue', id:'categories2' %>
        </li>
      </ul>
  <%# <% end %> 


   <div class='item-contents'>
      <h2 class='title'>最新ニュース</h2>
         <ul class='item-lists'>
            <%# <% @data[0..7].each do |data| %>
              <%# <ul class='lists'> %>
                <%# <%= link_to data["url"] do %> 
                 <%# <h3 class='item-name'> %>
                  <%# <%= data["title"].truncate(18) %> 
                 <%# </h3> %>
                   <%# <div class='item-img-content' > %>
                    <%# <%= image_tag data["urlToImage"], class:"item-img" %> 
                   <%# </div> %>
               <%# <% end %>  
              <%# </ul> %>
           <%# <% end  %> 
             <% @news_store[0..8].each do |news_store| %>
              <ul class='lists'>
                <%= link_to news_store["url"] do %>
                 <%# <h3 class='item-name'>
                  <%= news_store["title"].truncate(18) %>
                 <%# </h3>  %>
                   <div class='item-img-content' >
                    <%= image_tag news_store["url"], class:"item-img" %> 
                    <p><%= news_store["title"].truncate(18) %></p> 
                   </div>
               <% end %> 
              </ul>
           <% end  %>
         </ul>
         <%= paginate(@news_store) %> 
   </div>
    <% if user_signed_in? && current_user.admin? && !(current_user == @user) %>
      <div class='purchase-btn'>
         <span class='purchase-btn-text'>投稿する</span>
          <a href="/articles/new">
            <%= image_tag 'memo.jpeg' , size: '185x50' ,class: "purchase-btn-icon" %>
          </a>
      </div>
    <% end %> 
      <div class='articles-lists'>
        <div class='articles-title'>
            企業メッセージ
        </div>
      </div>

        <ul class='item-lists'>
             <% @article.each do |article| %> 
              <ul class='lists'>
                 <h3 class='article-name'>
                   <%= link_to article.title, article_path(article.id) %> 
                 </h3>
                   <div class='item-img-content' >
                    <%= link_to image_tag(article.image, class:"item-img"), article_path(article.id) %> 
                   </div>
              </ul>
            <% end  %> 
        </ul>
        <div class='place-next'>
        <%= paginate(@article) %>
        </div>
  </div>
<%# 
        <footer class='second-fotter'>
</footer>
        %>

