   <div class='item-contents'>
    <%= link_to '最新ニュース「科学」', root_path, method: :get, class: 'title' %>
    <ul class='item-lists'>
       <% @news_store[0..7].each do |news_store| %>
          <ul class='lists'>
           <%= link_to news_store["url"] do %>
                <div class='item-img-content' >
                     <%= image_tag news_store["urlToImage"], class:"item-img" %> 
                <p class="font-ch"><%= news_store["title"].truncate(18) %></p>
                </div>
           <% end %> 
          </ul>
       <% end  %>
    </ul>
    <%= paginate(@news_store) %>
    <%= render "shared/second-footer.html.erb" %>
   </div>