<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= link_to @article.title, '/' %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @article.image,　size:'5x10', class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @article.description %>
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @article.user_id %>
      <%= link_to '記事の編集', edit_article_path, method: :get, class: "item-red-btn" %>
      <%= link_to '削除', article_path, method: :delete, class:'item-destroy' %>
    <% end %>
    <%# <div class='favorite-btn'>
     <% if current_user.favorited_by?(@article.id) %>
        <%# <%= link_to 'いいね外す', destroy_favorite_path(@article), method: :delete %> <%# @article.favorites.count %>
      <%# <% else %> 
      <%# <%= link_to 'いいね', create_favorite_path(@article), method: :post%>  <%#@article.favorites.count 
       <%# <% end %> 
    <%# </div> %> 
    <div id="favorite_buttons">
    <%= render partial:'favorites/favorite', locals: {article: @article, favorites: @favorites} %>
    </div>
   </div>
 </div> 