<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= link_to @article.title, '/' %>
    </h2>
  <div class='item-img-content'>
      <%= image_tag @article.image,　size:'5x10', class:"item-box-img" %>
  </div>
  <div class="item-description-box">
    <span class="item-description">
      <%= @article.description %>
    </span>
  </div>

  <% if user_signed_in? && current_user.id == @article.user_id %>
    <%= link_to '記事の編集', edit_article_path, method: :get, class: "item-red-btn" %>
    <%= link_to '削除', article_path, method: :delete, class:'item-destroy' %>
  <% end %>

  <div id="favorite-<%= @article.id %>">
    <%= render 'favorites/favorite', { article: @article} %>
  </div>
</div> 